{
  'presets': ["react"]

  ,"env": {
    "prod-build": {
      "presets": ["env","react"]
    }
    ,"dev-build": {
      "presets": ["react"]
    }
  }

  ,'plugins': [
    ['transform-object-rest-spread',{"useBuildIns":true}]
    ,["transform-runtime"]
    ,["syntax-dynamic-import"]
  ]
  ,ignore: [
    'webpack.config.js'
    ,'prod-webpack.config.js'
    ,'dev-webpack.config.js'
  ]
}
