body{
  min-width: 500px;
}

.background{
  min-height:100%;
  min-width:1600px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
  @media only screen and (max-width:1600px){
    left:50%;
    margin-left: -800px; //50%
  }
}

.title{
  white-space:nowrap;
  color:cornsilk;
  font-size: 3rem;
  @media only screen and (max-height:800px) {
    font-size: 2rem;
  }
  @media only screen and (max-width:800px) {
    font-size: 2rem;
  }
}

.chart-link{
  font-size:2rem;
}

#title-box{
  background-color: rgba(0,0,0,.3);
  margin:auto;
}

text#chart-title{
  margin:auto;
  font-size:2rem;
  @media only screen and (max-width:800px){
    font-size:1.5rem;
  }
}
#chart-box{
  background-color: rgba(0,0,0,.3);
  // min-height:600px;
  // min-width: 500px;
  width:100%;
}

svg{
  min-width:500px;
  min-height: 400px;
}

#tooltip{
  position:absolute;
	background-color: white;
	border-radius: 5px;
	padding:10px
}

line{
  stroke:cornsilk;
}

path{
  stroke:cornsilk;
}

text{
  fill:cornsilk;
}
