#sources.movies *{
  color: cornsilk;
}

#bg-image.movies{
  min-height:100%;
  min-width:1500px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
  @media only screen and (max-width:1600px){
    left:50%;
    // margin-left: -800px; //50%
  }
}


#chart-svg.movies text{
  fill:black;
}

#sources.movies, #chart-box.movies{
  background-color: rgba(23, 21, 21, 0.82);
}

.leaf {
  // pointer-events: none;
  opacity: 0;
  // visibility: hidden;
}

.category > .d3plus-textBox text{
  fill: pink;
}


.d3plus-textBox text{
  // pointer-events:none;
}
