$ocean: rgb(31, 106, 153);
$slate: rgb(14, 45, 65);

#tooltip.globaltemp{
  background-color: $slate;
  color: cornsilk;
}

#x.globaltemp, #y.globaltemp, #xLegend.globaltemp{
  font: bold 1rem arial;
  & *{
    stroke:$slate;
    stroke-width:2px;
  }
  & text{
    stroke: none;
  }
}

#xLegend.globaltemp * {
  font: 0.9rem arial;
}
