body{
  min-width: 500px;
}

.background{
  min-width:1600px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:auto;
}

.title{
  white-space:nowrap;
  color:cornsilk;
  font-size: 3rem;
  @media only screen and (max-height:800px) {
    font-size: 2rem;
  }
}

#title-box{
  background-color: rgba(0,0,0,.3);
  margin:auto;
}

#chart-box{
  background-color: rgba(0,0,0,.3);
  // min-height:600px;
  // min-width: 500px;
  width:100%;
}

svg{
  min-width:500px;
  min-height: 400px;
}

line{
  stroke:cornsilk;
}

path{
  stroke:cornsilk;
}

text{
  fill:cornsilk;
}

circle{
  stroke: rgb(89, 80, 80);
  stroke-width: 2px;
  &:hover {
    r:10;
    stroke:cornsilk;
  }
}

.tooltip{
  position:absolute;
	background-color: white;
	border-radius: 5px;
	padding:10px
}
